<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">En WiHome sabemos lo que necesitas.</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <h3 class="text-white-75 font-weight-light mb-5">Tu casa inteligente, ¡Nosotros te ayudamos!</h3>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Saber más...</a>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2>Tenemos lo que necesitas!</h2>
                <hr>
                <p>WiHome tiene todo lo que tu hogar, oficina o espacio necesita. Solo descarga nuestro catálogo, déjate llevar por los productos que ofrecémos y contactanos para ayudarte a hacer realidad esa idea.</p>
                <a class="btn btn-dark color1 btn-xl js-scroll-trigger" href="#contact">Empieza ya!</a>
                <a class="btn btn-dark color1 btn-xl js-scroll-trigger" href="#download">Catálogo</a>
            </div>
        </div>
    </div>
</section>

<!-- Info Section -->
<section class="page-section bg-dark text-white" id="info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Acerca de nosotros</h2>
                <hr class="divider light my-4">
                <p class="text-white mb-4">WiHome es una empresa dedicada a desarrollar un hogar u oficina inteligente para nuestros clientes y sus necesidades.  <span style="font-weight: bold">Nuestra misión es conectar </span>a nuestros clientes con su hogar de la forma más directa y cautivadora posible: a través de los dispositivos que las personas llevan a todas partes, combinado con <span style="text-decoration: underline; font-style: italic">la mejor tecnología del momento.</span> <span style="font-weight: bold">El corazón de nuestra empresa </span>es la iniciativa y las ganas de ofrecer los mejores servicios, ya que tenemos a los mejores ingenieros  expertos en los productos. Ofrecemos alternativas estratégicas dirigidas a las necesidades de tu hogar u oficina. Agendar una cita con nosotros será solo el inicio de tu viaje. Un equipo especializado continuará trabajando en tu proyecto para llevar a tu proyecto al siguiente nivel.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="container-prueba">
                <div class="left">
                    <p>Misión</p>
                </div>
                <div class="center">
                    <p>Visión</p>
                </div>
                <div class="right">
                    <p>Valores</p>
                </div>
                <div class="clear">

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->
<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">Servicios</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-lightbulb text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Iluminación</h3>
                    <p class="text-muted mb-0">Control de lamparas y dispositivos electronicos, como switches de pared sencillos o con multiples botones y controles remoto, multicontactos de corriente electrica. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-cloud-sun text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Clima</h3>
                    <p class="text-muted mb-0">Te ofrecemos los mejores productos para controlar aire acondicionado y ventiladores de techo con velocidades.​</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-lock text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Seguridad</h3>
                    <p class="text-muted mb-0">Contamos con sensores de movimiento, sensores de puerta, cerraduras automaticas y camaras de vigilancia.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-tv text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Entretenimiento</h3>
                    <p class="text-muted mb-0">Integración para productos para control de voz como Google Home, Amazon Echo (Alexa), entre otros; compatibilidad con smartphones (iOS y Android). Control para Chromecast, Roku, MiBox y AppleTV. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Advantages Section -->
<section class="page-section bg-dark text-white" id="advantages">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Ventajas</h2>
                <hr class="divider light my-4">
                <p class="text-white mb-4">Para todas nuestros servicios, ofrecemos un sistema que controla todos tus dispositivos por control de voz como Google Home, Amazon Echo (Alexa), Apple HomePod, entre otros; compatibilidad con smartphones (iOS y Android) para descargar la aplicacion de control. Si usted desea una aplicación mas complicada también existen dispositivos para hacerla mas robusta y generar escenarios en base a condiciones climaticas y de sensores. </p>
                <p class="text-white mb-4">
                    - Enciende y/o apaga cualquier dispositivo conectado a su red, mediante su voz o una sola acción en su smartphone.
                    <br />- Genere escenas especificas que se controlen automaticamente sin la interaccion de un usuario.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="@Url.Content("~/Content/img/portfolio/fullsize/1.jpg")">
                    <img class="img-fluid" src="@Url.Content("~/Content/img/portfolio/thumbnails/1.jpg")" alt="">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            Category
                        </div>
                        <div class="project-name">
                            Project Name
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="@Url.Content("~/Content/img/portfolio/fullsize/2.jpg")">
                    <img class="img-fluid" src="@Url.Content("~/Content/img/portfolio/thumbnails/2.jpg")" alt="">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            Category
                        </div>
                        <div class="project-name">
                            Project Name
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="@Url.Content("~/Content/img/portfolio/fullsize/3.jpg")">
                    <img class="img-fluid" src="@Url.Content("~/Content/img/portfolio/thumbnails/3.jpg")" alt="">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            Category
                        </div>
                        <div class="project-name">
                            Project Name
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="@Url.Content("~/Content/img/portfolio/fullsize/4.jpg")">
                    <img class="img-fluid" src="@Url.Content("~/Content/img/portfolio/thumbnails/4.jpg")" alt="">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            Category
                        </div>
                        <div class="project-name">
                            Project Name
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="@Url.Content("~/Content/img/portfolio/fullsize/5.jpg")">
                    <img class="img-fluid" src="@Url.Content("~/Content/img/portfolio/thumbnails/5.jpg")" alt="">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            Category
                        </div>
                        <div class="project-name">
                            Project Name
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="@Url.Content("~/Content/img/portfolio/fullsize/6.jpg")">
                    <img class="img-fluid" src="@Url.Content("~/Content/img/portfolio/thumbnails/6.jpg")" alt="">
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">
                            Category
                        </div>
                        <div class="project-name">
                            Project Name
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action Section -->
<section class="page-section bg-dark text-white" id="download">
    <div class="container text-center">
        <h2 class="mb-4">Descarga nuestro catálogo de productos y servicios</h2>
        <a class="btn btn-light btn-xl" target="_blank" href="~/Content/files/Catalogo/Catálogo WiHome.pdf">Descárgalo!</a>
    </div>
</section>